body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: #ffb6b9;
  color: #594347;
}

.header {
  height: 80px; 
  width: 100%;
  background-color:#bbded6;
  color: #594347;
  position: fixed;  /*ヘッダーを固定する*/
  top: 0;
  right: 0;
  left: 0;
}


.header-logo h1 {
  margin: auto;
  max-width: 800px;
  padding-bottom: 40px;
  padding-left: 20px;
  float: left;
  font-size: 40px;
}


.header-logo li {
  list-style: none;
  margin: auto;
  max-width: 800px;
  padding-left: 80px;
  float: left;
  font-size: 20px;
}
.header-logo a {
  color: #594347;
}

.top-wrapper {
  background-image:url(./liana-mikah-qNhe2QXzLuo-unsplash.jpg) ;
  background-size: contain;
  height: 800px;
  width: 100%;
  padding-top: 80px;
}

.about {
  color: #594347;
  text-align: center;
  height: 800px;
  padding-top: 80px;
  
}

.about a {
  background-image: url("IMG_0246.jpeg");  /* 表示する画像 */
  width:  180px;       /* ※縦横を同値に */
  height: 180px;       /* ※縦横を同値に */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */
  display: inline-block;          /* 複数の画像を横に並べたい場合 */
  background-size:cover; /*写真が拡大・縮小されて領域内に全体が収まる*/
 position: center center;
 padding-right: 40px; 
}
.about h1 {
  font-size: 70px;
}
.about h2 {
  font-size: 40px;
}

.about p {
  padding-top: 20px;
  font-size: 20px;
}
.about span {
  color: palevioletred;
}
.work {
  color: #594347;
  text-align: center;
  font-size: 20px
  height: 800px;
  padding-top: 80px;
}

.work img {
 width: 400px;  /* 横幅を200pxに */
 padding-top: 20px;
 padding-bottom: 40px;
}
.work span {
  color: red;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.hobby {
  color: #594347;
  text-align: center;
  padding-top: 80px;
  height: 800px; /*各ページにつける意味あるか確認*/
}

.hobby-icon img {
  padding-top: 50px;
  height: 80%;
  width: 80%;
}
.hobby-icon p {
    width: 80%;
    display: inline-block;
    margin: 20px;
    font-size: 20px;
    position: center;
}

p.text-contents {
  margin: 3% auto;
  display: none;
  font-size: 20px;
  color: #594347;
}

p.text-active {
  display: block;
}
